:root {
  font-family: "Afacad Flux", sans-serif;
  

  background-color: #e8d9d6;
   
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0px;
  padding: 0px;
}



